
/* ---------- COMMON ---------- */

body {
	background-color: whitesmoke;	
}

a:active {outline: none;}
a:focus {outline:none;}

.left {float: left;}
.right {float: right;}
.center{text-align:center;}

fieldset{
border:0 none;
}

textarea {
width: 500px;
height: 120px;
}

/* LAYOUT */

#layout_content {
	margin-top: 60px;
}

#layout_content ul.nav-tabs {
	margin-bottom: 0px;
	border-bottom: none;
}

#content {
	padding: 20px;
	margin-top: 0px;
	background-color: #FFF;
	border: 1px solid #e6e7eb;
}

/* ---------- ZONES & TITRES ---------- */

.content_titre h1 {
	color: #327FBD;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight:normal;
}
.content_titre div {
	color: #969696;
	text-transform: uppercase;
	border-bottom: 2px solid #e6e7eb;
	margin-bottom: 12px;
	padding-bottom: 11px;
}

.zone {
	border: 1px solid #e6e7eb;
	padding: 10px;
	background-color: #f7f8fc;
	margin-bottom: 12px;
}

.zone h3 {
font-size:12px;
}

.zone_titre{
border-bottom: 1px dashed #57a8d7; 
margin-bottom: 12px;
}

.zone_titre h2 {
	color: #57A8D7;
	font-size: 18px;
	font-weight:normal;
}

.zone_titre  div,
.info_details {
	color: #969696;
	font-size: 13px;
}

.zone .zone .zone_titre{
border-bottom: 1px dashed #969696;
}

.zone .zone .zone_titre  div{
color:#327FBD;
}

/* ---------- COULEURS ---------- */

.gris{
color: #979797;
}

.bleu {
color: #327fbd;
}

a.orange {
	margin-left: 10px;
	color: #ff9300;
	height: 24px;
	text-decoration: underline;
	border: 0 none;
	background: url(../images/arrow_orange.jpg) no-repeat left;
	text-align: left;
	padding-left: 12px;
	vertical-align: middle;
	line-height: 21px;
	display: block;	
}

/* ---------- Page Login ---------- */

#login_page {
	margin-top: 50px;
}
#login_page h2 {
	margin-bottom: 20px;
}

#login_page .form-signin{
width: 300px;
padding: 20px 30px 30px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#login_page .form_text {
display:none;
}

#login_page .form_elem,
#login_page .form_error,
#login_page .form_error ul {
margin: 0;
}
#login_page .form_error ul {
list-style: none;
color: red;
}
#login_page input {
width: 285px;
}
      
/* ---------- Content ---------- */

/*articles*/
.btn_label {
	text-align: right;
	margin-right: 15px;
}

/*---------tableaux (articles...)---------*/

.table th{
color:#57A8D7;
}

/*--------- tableau de bord ---------*/

.menu_dashboard {
	padding-top:10px;
    margin:5px auto;
	width:90%;
}

.menu_dashboard.btn{
text-align:left;
}

.menu_dashboard:hover {
	cursor: pointer;
}

.item_subtitle {
color: #FFFFFF; 
margin-left: 50px;
}

.item_title{
color: #000000; 
margin-left: 50px;
}

.liens_dashboard {
margin-top: 10px;	
padding-left: 25px;
}

/* ---------- Back ACL Management ---------- */

table#backAclManagement {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}
table#backAclManagement th {color: #57A8D7;}

table#backAclManagement .group_name{
white-space: nowrap;
}

.droits_submit,
.form_submit{
text-align:center;
margin-top:30px;
}

/* -------- Vignettes choix type contenu additems menu ---------- */

#documents_classic {background: url(../images/vignettes/classic.png);}
#documents_classic.active {background: url(../images/vignettes/classic_hover.png);}
#galerieImage {background: url(../images/vignettes/galerie.png);}
#galerieImage.active {background: url(../images/vignettes/galerie_hover.png);}
#selectupPage {background: url(../images/vignettes/selectup.png);}
#selectupPage.active {background: url(../images/vignettes/selectup_hover.png);}


.typeChoice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100px;
	height: 105px;	
}
.typeChoice:hover {cursor: pointer;}
.choixDoc {margin: auto; text-align: center;}

/* ---------- DataTables (plugin jQuery) ---------- */
.table{
clear:both;
}

.dataTables_wrapper:after{
  content: ""; 
  display: block;
  clear: both;
}

.datatable,
.dataTables_wrapper{
margin-top: 15px;
}

.dataTables_length{
float:left;
width:40%;
}
.dataTables_filter{
width:50%;
float:right;
text-align: right;
}

.dataTables_length select,
.dataTables_filter input{
display:inline;
width:auto;
}

/*sorting*/

.sorting{
background:url("../images/sorting/sort_both.png") no-repeat scroll right center transparent;
}

.sorting_desc{
background:url("../images/sorting/sort_desc.png") no-repeat scroll right center transparent;
}

.sorting_asc{
background:url("../images/sorting/sort_asc.png") no-repeat scroll right center transparent;
}

/* infos et pagination*/

.datatable th{
cursor:pointer;
}

.datatable th.no_sorting{
cursor:auto;
}

.datatable td {
overflow:hidden;
text-overflow: ellipsis;
}

.dataTables_info{
width:50%;
float:left;
}

.dataTables_paginate{
float: right;
text-align:right;
width:50%;
}

.dataTables_paginate a{
  padding: 5px 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  cursor: pointer;
}

.dataTables_paginate a.first{
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.dataTables_paginate a.last{
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.dataTables_paginate  a.paginate_active,
.dataTables_paginate  a:hover{
 background-color: #eaeaea;
}

.dataTables_paginate a.paginate_button.paginate_button_disabled{
cursor: default;
background:none;
color:#ddd;
}

.dataTables_paginate a.paginate_button_disabled:hover{
color:#ddd;
}

/** Preview template / placeholder **/

.preview_template {
	margin: 10px;
}

.preview_template ul{
list-style:none;
}

.preview_template li {
	text-align:center;
	padding: 3px;
}

.preview_placeholder {
	margin-left: 20px;	
}

.preview_template table {
	margin:auto;
	text-align: center;	
	background: #f2f2f2;
	border: 1px solid #d4d5d9;
}

.preview_template table th {
	padding-top: 4px;
	padding-bottom: 5px;
	border: 1px solid #d4d5d9;
	color:#ff9300;
}

.preview_template table td {
	padding: 3px;
	font-weight:bold;
	border: 1px solid #d4d5d9;
}

/*-------------formulaires-----------------*/

.form_line, .form_error {
	clear: left;
	margin-bottom: 15px;
	width: 100%;
}
.form_line .form_text, .form_text_checkbox {
	float: left;
	width: 177px;
	margin-right: 10px;
	text-align: right;
	line-height:13px;
}

.form_line .form_elem, .form_elem_checkbox, .form_error {
margin-left: 187px;
}
.form_elem_checkbox input[type=checkbox],
.form_elem input[type=radio]{
float:left;
margin-right:5px;
}

.form_label_checkbox{
float:left;
color: #969696;
}

.form_label label{
margin-bottom:0;
}

.form_line .form_desc {
color: #979797;
}

/* --------- FORMULAIRES AVEC langSwitcher ET BOOTSTRAP-------- */

.form-horizontal .controls.lang{
margin-left:20px;
}

/* --------- Page diapos -------- */

.image, .galerie, .pub {
	background: #FFFFFF;
	border: solid 1px #969696;
	height: 80px;
	width: 100px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 41px;
	margin-right: 41px;
}
.image:focus, .galerie:focus, .image_active, .pub_active, .galerie_active {
	border-color: #ff9300;
	box-shadow: 0 0 5px #FF9300;
	-moz-box-shadow: 0 0 5px #FF9300;
	-webkit-box-shadow: 0 0 5px #FF9300;
}
.image:hover, .galerie:hover, .pub:hover {cursor: move; border: solid 1px #ff9300;}
.image:hover a.image_delete, .galerie:hover a.galerie_delete, .pub:hover a.pub_delete {
	background: url(../images/diapo_delete.jpg) no-repeat top left;
	height: 18px;
	width: 18px;
	margin-left: 90px;
	cursor: pointer;
	position: absolute;
}
.highlight {
	height: 80px;
	width: 100px;
	background-color: #f2f2f2;
	border: 1px dashed #969696;		
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 41px;
	margin-right: 41px;
}
.image_add, .galerie_add, .pub_add {
	background: url(../images/diapo_add.jpg) no-repeat center;
	border: dashed 1px #969696;
	height: 80px;
	width: 100px;	
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 41px;
	margin-right: 41px;
}
.image_add:hover, .galerie_add:hover, .pub_add:hover {border: dashed 1px #ff9300; cursor: pointer;}
.image_img, .galerie_img, .pub_img {
	text-align: center;
	width: 86px;
	height: 68px;
}
#form_image, #form_pub {margin-top: 20px;}
#image_preview {max-width:400px;max-height:400px;}

/*facebook*/

#form_fb_comments_active:after{
  content: ""; 
  display: block;
  clear: both;
}

/* Search */

#search_results .paginator {
	text-align: center;
}

#search_results .search_result .image {
	width: auto;
	height: auto;
	margin: 5px;
	margin-left: 0px;
}

#search_results .search_result .description {
	margin-top: 5px;
}

#search_results h1.title {
	margin-bottom: 15px;
}

/*tests langSwitcher*/

.lang_1,
.lang_2{
float:left;
}

.langSwitcher{
float:left;
}

/** Module calendar **/
table#calendar caption {
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 18px;
}
table#calendar td.disable {
	background-color: whiteSmoke;
}
table#calendar thead tr th {
	text-align: center;
}
table#calendar tbody tr td {
	position: relative;
}
table#calendar tbody tr td .case {
	min-height: 60px;
	padding-top: 15px;
}
table#calendar tbody tr td .case .date {
	position: absolute;
	left: 0;
	top:0;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	padding-top: 1px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: whiteSmoke;
	font-size: 10px;
	line-height: 15px;
}
table#calendar tbody tr td .case ul.events li {
	border: 1px solid #E3E3E3;
	padding: 0px 2px;
	border-radius: 5px;
	margin-bottom: 3px;
	font-size: 12px;
	line-height: 15px;
}
