
#templateManager {
	position:relative;
}
#arrow_right {
position: absolute;
top: 420px;
left:345px;
}

/* Actions */
.actions_tpl {
margin-right: 73px;
text-align: center;
}

#form_select_template .form_text  {
	width: 40px;	
}
#form_select_template .form_elem  {
	margin-left: 0;
}
	
/*liste des blocs*/
#liste_bloc {
	min-height:734px;
}

#liste_bloc a.section-head {
display: block;
height: 20px;
line-height: 20px;
margin-top: 5px;
color: #000;
padding:2px 0 2px 10px;
color:#fff;
font-weight:bold;
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.20);
}
#liste_bloc a.section-head +ul{
padding-bottom:5px;
}
#liste_bloc a.section-head span.down {
	display:inline-block;
	float: right;
	margin-right: 15px;
}
#liste_bloc a:hover{
text-decoration:none;
}
#liste_bloc .line {
display: block;	
line-height: 25px;
padding: 0 10px 0 7px;
}
#liste_bloc .info{
float: left;
margin-right: 10px;
height: 25px;
cursor: move;
background: url('../images/grippy.png') left center no-repeat;
padding-left: 7px;
}
#liste_bloc .actions{
float: right;
width: 62px;
}

/* zone template */
#template {
width: 695px;
padding: 10px;
border: 1px solid #a5caf0;
background: #d7eaee;
}

.droppable {
border: 1px solid #5eb0ec;
background: #c7e2ec;
}

#template .droppable.horizontal {
min-height: 62px;
}

/* Permet le passage à la ligne des blocs dans les placeholders horizontaux */
#template .droppable.horizontal:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#template .droppable.horizontal {
    zoom: 1;
}

#template .horizontal {
margin-bottom: 5px;
}



#template .droppable.vertical {
width: 62px;
}

#template .vertical, #t_contentmore {
margin-right: 5px;
}

#template .nomarge {
margin-right: 0px;
margin-bottom: 0px;
}


#t_middle {
display: -webkit-box;
display: -moz-box;
display: -o-box;
display: -ms-box;
display: box;
width: 673px;
}

#t_center {
display: -webkit-box;
display: -moz-box;
display: -o-box;
display: -ms-box;
display: box;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-o-box-orient: vertical;
-ms-box-orient: vertical;
box-orient: vertical;

-webkit-box-flex: 1;
-moz-box-flex: 1;
-o-box-flex: 1;
-ms-box-flex: 1;
flex: 1;

}

#t_content {
display: -webkit-box;
display: -moz-box;
display: -o-box;
display: -ms-box;
display: box;

-webkit-box-flex: 1;
-moz-box-flex: 1;
-o-box-flex: 1;
-ms-box-flex: 1;
flex: 1;
}

#t_contentmore {
background-color: #b0c5d1;
-webkit-box-flex: 1;
-moz-box-flex: 1;
-o-box-flex: 1;
-ms-box-flex: 1;
flex: 1;
min-height: 150px;
}

#template .info_ph {
text-align: center;
margin-top: 10px;
}

.template_item {
width: 40px;
height: 40px;
margin: 5px;
padding:5px;
cursor: move;
font-size: 9px;
overflow: hidden;
text-overflow: ellipsis;
position: relative;
z-index:10;
line-height: 9px;
color:#000;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* les items des placeholders verticaux ne doivent pas être flotant (bugfix avec jQuery Sortable) */
.horizontal > .template_item {
float: left;
}

.template_item:hover {
overflow: visible;
width: 100px;
z-index:100;
}

.template_item .deleteBloc,
.template_item .editBloc{
display: block;
width: 18px;
height: 18px;
position: absolute;
bottom: 0;
display: none;
}
.template_item .deleteBloc{
background: url(../images/delete.png) no-repeat;
left: 25px;
}

.template_item .editBloc{
background: url(../images/btn_edit_small_pencil.png) no-repeat;
left: 5px;
}

.template_item:hover .deleteBloc,
.template_item:hover .editBloc{
display: block;
}

#draggable-helper {
width: 50px;
height: 50px;
background: #000;
float: left;
}

.drophover .drop_zone, .ui-sortable-zone {
width: 48px;
height: 48px;
margin: 5px;
float: left;
background: #D5D2F3;
border: 1px dashed #A5CAF0;
}

/** Couleur des types de blocs en fonction de leur position **/
#templateManager .index-0{
background: #991E1E;
background: -moz-linear-gradient(top,  rgba(153,30,30,0.8) 0%, rgba(153,30,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,30,30,0.8)), color-stop(100%,rgba(153,30,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,30,30,0.8) 0%,rgba(153,30,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,30,30,0.8) 0%,rgba(153,30,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,30,30,0.8) 0%,rgba(153,30,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,30,30,0.8) 0%,rgba(153,30,30,1) 100%); /* W3C */
border:1px solid #991E1E;
}

#templateManager .index-0+ul{
border:1px solid #991E1E;
}

#templateManager .index-1{
background: #99371E;
background: -moz-linear-gradient(top,  rgba(153,55,30,0.8) 0%, rgba(153,55,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,55,30,0.8)), color-stop(100%,rgba(153,55,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,55,30,0.8) 0%,rgba(153,55,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,55,30,0.8) 0%,rgba(153,55,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,55,30,0.8) 0%,rgba(153,55,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,55,30,0.8) 0%,rgba(153,55,30,1) 100%); /* W3C */
border:1px solid #99371E;
}
#templateManager .index-1+ul{
border:1px solid #99371E;
}

#templateManager .index-2{
background: #994F1E;
background: -moz-linear-gradient(top,  rgba(153,79,30,0.8) 0%, rgba(153,79,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,79,30,0.8)), color-stop(100%,rgba(153,79,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,79,30,0.8) 0%,rgba(153,79,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,79,30,0.8) 0%,rgba(153,79,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,79,30,0.8) 0%,rgba(153,79,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,79,30,0.8) 0%,rgba(153,79,30,1) 100%); /* W3C */
border:1px solid #994F1E;
}
#templateManager .index-2+ul{
border:1px solid #994F1E;
}

#templateManager .index-3{
background: #99681E;
background: -moz-linear-gradient(top,  rgba(153,104,30,0.8) 0%, rgba(153,104,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,104,30,0.8)), color-stop(100%,rgba(153,104,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,104,30,0.8) 0%,rgba(153,104,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,104,30,0.8) 0%,rgba(153,104,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,104,30,0.8) 0%,rgba(153,104,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,104,30,0.8) 0%,rgba(153,104,30,1) 100%); /* W3C */
border:1px solid #99681E;
}
#templateManager .index-3+ul{
border:1px solid #99681E;
}

#templateManager .index-4{
background: #99801E;
background: -moz-linear-gradient(top,  rgba(153,128,30,0.8) 0%, rgba(153,128,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,128,30,0.8)), color-stop(100%,rgba(153,128,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,128,30,0.8) 0%,rgba(153,128,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,128,30,0.8) 0%,rgba(153,128,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,128,30,0.8) 0%,rgba(153,128,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,128,30,0.8) 0%,rgba(153,128,30,1) 100%); /* W3C */
border:1px solid #99801E;
}
#templateManager .index-4+ul{
border:1px solid #99801E;
}

#templateManager .index-5{
background: #99991E;
background: -moz-linear-gradient(top,  rgba(153,153,30,0.8) 0%, rgba(153,153,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,153,30,0.8)), color-stop(100%,rgba(153,153,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,153,30,0.8) 0%,rgba(153,153,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,153,30,0.8) 0%,rgba(153,153,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,153,30,0.8) 0%,rgba(153,153,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,153,30,0.8) 0%,rgba(153,153,30,1) 100%); /* W3C */
border:1px solid #99991E;
}
#templateManager .index-5+ul{
border:1px solid #99991E;
}

#templateManager .index-6{
background: #80991E;
background: -moz-linear-gradient(top,  rgba(128,153,30,0.8) 0%, rgba(128,153,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,153,30,0.8)), color-stop(100%,rgba(128,153,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(128,153,30,0.8) 0%,rgba(128,153,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(128,153,30,0.8) 0%,rgba(128,153,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(128,153,30,0.8) 0%,rgba(128,153,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(128,153,30,0.8) 0%,rgba(128,153,30,1) 100%); /* W3C */
border:1px solid #80991E;
}
#templateManager .index-6+ul{
border:1px solid #80991E;
}

#templateManager .index-7{
background: #68991E;
background: -moz-linear-gradient(top,  rgba(104,153,30,0.8) 0%, rgba(104,153,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,153,30,0.8)), color-stop(100%,rgba(104,153,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(104,153,30,0.8) 0%,rgba(104,153,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(104,153,30,0.8) 0%,rgba(104,153,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(104,153,30,0.8) 0%,rgba(104,153,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(104,153,30,0.8) 0%,rgba(104,153,30,1) 100%); /* W3C */
border:1px solid #68991E;
}
#templateManager .index-7+ul{
border:1px solid #68991E;
}

#templateManager .index-8{
background: #4F991E;
background: -moz-linear-gradient(top,  rgba(79,153,30,0.8) 0%, rgba(79,153,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,153,30,0.8)), color-stop(100%,rgba(79,153,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(79,153,30,0.8) 0%,rgba(79,153,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(79,153,30,0.8) 0%,rgba(79,153,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(79,153,30,0.8) 0%,rgba(79,153,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(79,153,30,0.8) 0%,rgba(79,153,30,1) 100%); /* W3C */
border:1px solid #4F991E;
}
#templateManager .index-8+ul{
border:1px solid #4F991E;
}

#templateManager .index-9{
background: #37991e;
background: -moz-linear-gradient(top,  rgba(55,153,30,0.8) 0%, rgba(55,153,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,153,30,0.8)), color-stop(100%,rgba(55,153,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(55,153,30,0.8) 0%,rgba(55,153,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(55,153,30,0.8) 0%,rgba(55,153,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(55,153,30,0.8) 0%,rgba(55,153,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(55,153,30,0.8) 0%,rgba(55,153,30,1) 100%); /* W3C */
border:1px solid #37991e;
}
#templateManager .index-9+ul{
border:1px solid #37991e;
}

#templateManager .index-10{
background: #1e991e;
background: -moz-linear-gradient(top,  rgba(30,153,30,0.8) 0%, rgba(30,153,30,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,153,30,0.8)), color-stop(100%,rgba(30,153,30,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,153,30,0.8) 0%,rgba(30,153,30,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,153,30,0.8) 0%,rgba(30,153,30,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,153,30,0.8) 0%,rgba(30,153,30,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,153,30,0.8) 0%,rgba(30,153,30,1) 100%); /* W3C */
border:1px solid #1e991e;
}
#templateManager .index-10+ul{
border:1px solid #1e991e;
}

#templateManager .index-11{
background: #1e9937;
background: -moz-linear-gradient(top,  rgba(30,153,55,0.8) 0%, rgba(30,153,55,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,153,55,0.8)), color-stop(100%,rgba(30,153,55,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,153,55,0.8) 0%,rgba(30,153,55,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,153,55,0.8) 0%,rgba(30,153,55,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,153,55,0.8) 0%,rgba(30,153,55,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,153,55,0.8) 0%,rgba(30,153,55,1) 100%); /* W3C */
border:1px solid #1e9937;
}
#templateManager .index-11+ul{
border:1px solid #1e9937;
}

#templateManager .index-12{
background: #1e994f;
background: -moz-linear-gradient(top,  rgba(30,153,79,0.8) 0%, rgba(30,153,79,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,153,79,0.8)), color-stop(100%,rgba(30,153,79,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,153,79,0.8) 0%,rgba(30,153,79,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,153,79,0.8) 0%,rgba(30,153,79,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,153,79,0.8) 0%,rgba(30,153,79,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,153,79,0.8) 0%,rgba(30,153,79,1) 100%); /* W3C */
border:1px solid #1e994f;
}
#templateManager .index-12+ul{
border:1px solid #1e994f;
}

#templateManager .index-13{
background: #1e9968;
background: -moz-linear-gradient(top,  rgba(30,153,104,0.8) 0%, rgba(30,153,104,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,153,104,0.8)), color-stop(100%,rgba(30,153,104,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,153,104,0.8) 0%,rgba(30,153,104,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,153,104,0.8) 0%,rgba(30,153,104,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,153,104,0.8) 0%,rgba(30,153,104,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,153,104,0.8) 0%,rgba(30,153,104,1) 100%); /* W3C */
border:1px solid #1e9968;
}
#templateManager .index-13+ul{
border:1px solid #1e9968;
}

#templateManager .index-14{
background: #1e9980;
background: -moz-linear-gradient(top,  rgba(30,153,128,0.8) 0%, rgba(30,153,128,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,153,128,0.8)), color-stop(100%,rgba(30,153,128,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,153,128,0.8) 0%,rgba(30,153,128,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,153,128,0.8) 0%,rgba(30,153,128,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,153,128,0.8) 0%,rgba(30,153,128,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,153,128,0.8) 0%,rgba(30,153,128,1) 100%); /* W3C */
border:1px solid #1e9980;
}
#templateManager .index-14+ul{
border:1px solid #1e9980;
}

#templateManager .index-15{
background: #1e9999;
background: -moz-linear-gradient(top,  rgba(30,153,153,0.8) 0%, rgba(30,153,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,153,153,0.8)), color-stop(100%,rgba(30,153,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,153,153,0.8) 0%,rgba(30,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,153,153,0.8) 0%,rgba(30,153,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,153,153,0.8) 0%,rgba(30,153,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,153,153,0.8) 0%,rgba(30,153,153,1) 100%); /* W3C */
border:1px solid #1e9999;
}
#templateManager .index-15+ul{
border:1px solid #1e9999;
}

#templateManager .index-16{
background: #1e8099;
background: -moz-linear-gradient(top,  rgba(30,128,153,0.8) 0%, rgba(30,128,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,128,153,0.8)), color-stop(100%,rgba(30,128,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,128,153,0.8) 0%,rgba(30,128,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,128,153,0.8) 0%,rgba(30,128,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,128,153,0.8) 0%,rgba(30,128,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,128,153,0.8) 0%,rgba(30,128,153,1) 100%); /* W3C */
border:1px solid #1e8099;
}
#templateManager .index-16+ul{
border:1px solid #1e8099;
}

#templateManager .index-17{
background: #1e6899;
background: -moz-linear-gradient(top,  rgba(30,104,153,0.8) 0%, rgba(30,104,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,104,153,0.8)), color-stop(100%,rgba(30,104,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,104,153,0.8) 0%,rgba(30,104,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,104,153,0.8) 0%,rgba(30,104,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,104,153,0.8) 0%,rgba(30,104,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,104,153,0.8) 0%,rgba(30,104,153,1) 100%); /* W3C */
border:1px solid #1e6899;
}
#templateManager .index-17+ul{
border:1px solid #1e6899;
}

#templateManager .index-18{
background: #1e4f99;
background: -moz-linear-gradient(top,  rgba(30,79,153,0.8) 0%, rgba(30,79,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,79,153,0.8)), color-stop(100%,rgba(30,79,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,79,153,0.8) 0%,rgba(30,79,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,79,153,0.8) 0%,rgba(30,79,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,79,153,0.8) 0%,rgba(30,79,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,79,153,0.8) 0%,rgba(30,79,153,1) 100%); /* W3C */
border:1px solid #1e4f99;
}
#templateManager .index-18+ul{
border:1px solid #1e4f99;
}

#templateManager .index-19{
background: #1e3799;
background: -moz-linear-gradient(top,  rgba(30,55,153,0.8) 0%, rgba(30,55,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,55,153,0.8)), color-stop(100%,rgba(30,55,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,55,153,0.8) 0%,rgba(30,55,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,55,153,0.8) 0%,rgba(30,55,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,55,153,0.8) 0%,rgba(30,55,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,55,153,0.8) 0%,rgba(30,55,153,1) 100%); /* W3C */
border:1px solid #1e3799;
}
#templateManager .index-19+ul{
border:1px solid #1e3799;
}

#templateManager .index-20{
background: #1e1e99;
background: -moz-linear-gradient(top,  rgba(30,30,153,0.8) 0%, rgba(30,30,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,30,153,0.8)), color-stop(100%,rgba(30,30,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,30,153,0.8) 0%,rgba(30,30,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,30,153,0.8) 0%,rgba(30,30,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,30,153,0.8) 0%,rgba(30,30,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,30,153,0.8) 0%,rgba(30,30,153,1) 100%); /* W3C */
border:1px solid #1e1e99;
}
#templateManager .index-20+ul{
border:1px solid #1e1e99;
}

#templateManager .index-21{
background: #371e99;
background: -moz-linear-gradient(top,  rgba(55,30,153,0.8) 0%, rgba(55,30,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,30,153,0.8)), color-stop(100%,rgba(55,30,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(55,30,153,0.8) 0%,rgba(55,30,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(55,30,153,0.8) 0%,rgba(55,30,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(55,30,153,0.8) 0%,rgba(55,30,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(55,30,153,0.8) 0%,rgba(55,30,153,1) 100%); /* W3C */
border:1px solid #371e99;
}
#templateManager .index-21+ul{
border:1px solid #371e99;
}

#templateManager .index-22{
background: #4f1e99;
background: -moz-linear-gradient(top,  rgba(79,30,153,0.8) 0%, rgba(79,30,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,30,153,0.8)), color-stop(100%,rgba(79,30,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(79,30,153,0.8) 0%,rgba(79,30,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(79,30,153,0.8) 0%,rgba(79,30,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(79,30,153,0.8) 0%,rgba(79,30,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(79,30,153,0.8) 0%,rgba(79,30,153,1) 100%); /* W3C */
border:1px solid #4f1e99;
}
#templateManager .index-22+ul{
border:1px solid #4f1e99;
}

#templateManager .index-23{
background: #681e99;
background: -moz-linear-gradient(top,  rgba(104,30,153,0.8) 0%, rgba(104,30,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,30,153,0.8)), color-stop(100%,rgba(104,30,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(104,30,153,0.8) 0%,rgba(104,30,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(104,30,153,0.8) 0%,rgba(104,30,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(104,30,153,0.8) 0%,rgba(104,30,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(104,30,153,0.8) 0%,rgba(104,30,153,1) 100%); /* W3C */
border:1px solid #681e99;
}
#templateManager .index-23+ul{
border:1px solid #681e99;
}

#templateManager .index-24{
background: #801e99;
background: -moz-linear-gradient(top,  rgba(128,30,153,0.8) 0%, rgba(128,30,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,30,153,0.8)), color-stop(100%,rgba(128,30,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(128,30,153,0.8) 0%,rgba(128,30,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(128,30,153,0.8) 0%,rgba(128,30,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(128,30,153,0.8) 0%,rgba(128,30,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(128,30,153,0.8) 0%,rgba(128,30,153,1) 100%); /* W3C */
border:1px solid #801e99;
}
#templateManager .index-24+ul{
border:1px solid #801e99;
}

#templateManager .index-25{
background: #991e99;
background: -moz-linear-gradient(top,  rgba(153,30,153,0.8) 0%, rgba(153,30,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,30,153,0.8)), color-stop(100%,rgba(153,30,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,30,153,0.8) 0%,rgba(153,30,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,30,153,0.8) 0%,rgba(153,30,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,30,153,0.8) 0%,rgba(153,30,153,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,30,153,0.8) 0%,rgba(153,30,153,1) 100%); /* W3C */
border:1px solid #991e99;
}
#templateManager .index-25+ul{
border:1px solid #991e99;
}

#templateManager .index-26{
background: #991e80;
background: -moz-linear-gradient(top,  rgba(153,30,128,0.8) 0%, rgba(153,30,128,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,30,128,0.8)), color-stop(100%,rgba(153,30,128,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,30,128,0.8) 0%,rgba(153,30,128,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,30,128,0.8) 0%,rgba(153,30,128,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,30,128,0.8) 0%,rgba(153,30,128,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,30,128,0.8) 0%,rgba(153,30,128,1) 100%); /* W3C */
border:1px solid #991e80;
}
#templateManager .index-26+ul{
border:1px solid #991e80;
}

#templateManager .index-27{
background: #991e63;
background: -moz-linear-gradient(top,  rgba(153,30,99,0.8) 0%, rgba(153,30,99,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,30,99,0.8)), color-stop(100%,rgba(153,30,99,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,30,99,0.8) 0%,rgba(153,30,99,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,30,99,0.8) 0%,rgba(153,30,99,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,30,99,0.8) 0%,rgba(153,30,99,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,30,99,0.8) 0%,rgba(153,30,99,1) 100%); /* W3C */
border:1px solid #991e63;
}
#templateManager .index-27+ul{
border:1px solid #991e63;
}

#templateManager .index-28{
background: #991e47;
background: -moz-linear-gradient(top,  rgba(153,30,71,0.8) 0%, rgba(153,30,71,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,30,71,0.8)), color-stop(100%,rgba(153,30,71,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,30,71,0.8) 0%,rgba(153,30,71,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,30,71,0.8) 0%,rgba(153,30,71,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,30,71,0.8) 0%,rgba(153,30,71,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,30,71,0.8) 0%,rgba(153,30,71,1) 100%); /* W3C */
border:1px solid #991e47;
}
#templateManager .index-28+ul{
border:1px solid #991e47;
}

#templateManager .index-29{
background: #991e2e;
background: -moz-linear-gradient(top,  rgba(153,30,46,0.8) 0%, rgba(153,30,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,30,46,0.8)), color-stop(100%,rgba(153,30,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(153,30,46,0.8) 0%,rgba(153,30,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(153,30,46,0.8) 0%,rgba(153,30,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(153,30,46,0.8) 0%,rgba(153,30,46,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(153,30,46,0.8) 0%,rgba(153,30,46,1) 100%); /* W3C */
border:1px solid #991e2e;
}
#templateManager .index-29+ul{
border:1px solid #991e2e;
}

#template.mobile .template_item.size-25 {
	width: 21%;
}
#template.mobile .template_item.size-50 {
	width: 46%;
}
#template.mobile .template_item.size-75 {
	width: 73%;
}
#template.mobile .template_item.size-100 {
	width: 97%;
}